
/* COLOR PALETTE VARIABLES
   ========================================================================== */

// blues
$blue-mention: #3fa2d9;
$blue-mention--darker: #3995C8;
$darkblue: #346986;

// blacks
$masala: #444444;
$mine-shaft: #333333;
$charcoal: #666666;
$fog: #888888;

// greens
$green: #39cd94;
$green--darker: #34C08A;
$success: #01D84E;

// greys
$alto: #d8d8d8;
$alabaster: #f8f8f8;
$silver: #bbbbbb;
$wall: #cccccc;
$cloud: #eeeeee;
$concrete: #f3f3f3;

//brands
$facebook: #3b5998;
$google: #dd4b39;
$linkedin: #0976b4;
$twitter: #55acee;

// mains
$primary: $blue-mention;
$primary--darker: $blue-mention--darker;
$secondary: $alto;
