// LESSON
.ac__lesson-title { font-size: 2rem; margin-bottom: 42px; margin-top: 100px; max-width: 800px; line-height: 1.3; color: #22282B; }
.ac__content-wrapper--lesson { margin: 0 auto; text-align: left; max-width: 700px; }
.ac__content--lesson { width: 100%; max-width: 700px; }
  .ac__content--lesson h2 { font-size: 1.2rem; color: #22282B; font-family: Roboto; font-weight: 400; margin: 42px 0 21px 0; }
  .ac__content--lesson h3 { font-size: 1rem; color: #22282B; font-family: Roboto; font-weight: 400; margin: 42px 0 21px 0; }
  .ac__content--lesson hr { border: none; border-top: 1px solid #ddd; margin: 42px auto; width: 50%; }
  .ac__content--lesson p, .ac__content--lesson li { font-family: 'Open Sans', sans-serif; font-size: 1rem; width: 100%; line-height: 1.8; color: #85939d; font-weight: 00; margin: 0 0 21px 0; }
  .ac__content--lesson b { font-weight: 600; }
  .ac__content--lesson img { width: auto; height: auto; display: block; margin: 42px auto; max-width: 700px; }
  .ac__content--lesson li { margin-bottom: 0; }
  .ac__content--lesson strong { color: #666; font-weight: 600; }
  .ac__content--lesson .ac__cttw { position: relative; font-size: 1.3rem; margin-top: 42px; margin-bottom: 42px; padding-left: 5px; border-left: 3px solid #36a3dc; padding-left: 21px; }
  .ac__content--lesson .ac__cttw:after { content: ""; margin-left: 10px; display: inline-block; background: url("/academy/img/twitter.svg") no-repeat top right; width: 14px; height: 12px; }
  .ac__content--lesson a, .ac__content--lesson .ac__cttw a { color: #36a3dc; text-decoration: none; }
  .ac__content--lesson .ac__key { display: block; padding: 21px 14px; border-radius: 4px; border: 1px solid #eee; background: #fafafa; }

.ac__content--lesson .next { margin: 21px auto; display: block; max-width: 700px; }

.ac__form-cont--lesson { max-width: 700px; display: none; border: 1px solid #eee; margin-top: 10px; }
.ac__content--lesson .ac__form-cont--lesson h2 { margin-top: 0; }
.ac__form-cont--lesson .ac__submit { color: #fff; }
 
.ac__side .ac__submit { background: #36a3dc; text-decoration: none; }

.ac__expert--lesson { padding: 21px; background-color: #fafafa; border-radius: 4px; max-width: 620px; margin: 84px auto; display: block; border: 1px solid #eee;  }
.ac__expert--lesson .ac__expert-name { font-size: 1.2rem; margin: 0; margin-bottom: 15px; }
.ac__expert--lesson .ac__experts-desc { display: inline-block; vertical-align: middle; margin: 0; max-width: 500px; text-align: left; }
.ac__expert--lesson .ac__tests-author { margin: 0; font-weight: 600; }
.ac__expert--lesson .ac__experts-desc p { margin: 0; }
.ac__expert--lesson img { border-radius: 100%; display: inline-block; height: 100px; width: auto; vertical-align: middle; margin-right: 21px; margin-left: -62px; border: 6px solid #fff; }

@include mquery(640px) {
  .ac__content--lesson img { width: 100%; }
  .ac__expert--lesson img { width: auto; }
}

@include mquery(1280px) { 
 .ac__side { display: none; }
 .ac__form-cont, .ac__form-cont--lesson { display: block; }
 .ac__expert--lesson img { margin-left: 0; border: none; }
}