.ac__side .ac__ctas-cont, .ac__side .ac__about-cont { padding:0 39px; }
  .ac__side .ac__ctas { padding: 0; position: initial; margin-top: 65px; }
  .ac__side .ac__form { margin: 0; }
    .ac__side h3 { color: #999; line-height: 1.3; font-size: 1rem; text-align: left; }
    .ac__side p { color: #888; margin-bottom: 30px; font-family: 'Open Sans'; line-height: 1.6; font-size: .825rem; }
    .ac__side hr { border: none; border-top: 1px solid #ddd; margin: 42px 0; }
    .ac__input { width: 100%; font-size: .85rem; height: 56px; border: 1px solid #bbb; border-radius: 4px; display: block; padding-left: 15px; }
    .ac__submit { background-image: linear-gradient(-180deg, #26EC91 0%, #26EC91 100%); cursor: pointer; width: 100%; margin-top: 18px; font-weight: 600; font-size: .9rem; height: 56px; display: block; line-height: 56px; border-radius: 4px; text-align: center; color: #fff; }
    .ac__learn { background: #CFCFCF; border: none; border-radius: 4px;width: 100%; margin-top: 18px; font-weight: 600; font-size: .85rem; height: 56px; display: block; line-height: 56px; border-radius: 4px; text-align: center; color: #fff; text-decoration: none; }
    .ac__about-cont { text-align: center; }
    .ac__about-cont img { margin: 5px; width: auto; height: 38px; vertical-align: middle; }
    .ac__about-cont img.wb { height: 70px; width: auto; }
    .ac__about-cont img.sm { height: 30px; width: auto; }