* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; 
  text-rendering: optimizeLegibility;
}

html { height: 100%; }

body {
  font-size: $base;
  overflow-x: hidden;
  height: auto;
  background: #fff; 
  -webkit-overflow-scrolling: touch;
}

input:focus { outline: none !important; border: none; }

.clearfix:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}

.ov-fixed { overflow: hidden; }
.hidden { display: none !important; }
.overlay-is-visible { @include flex(flex,center,no-wrap); }
.visible { display: block; }
.visible-ib { display: inline-block !important; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }

@include mquery(500px) {
	.overlay-is-visible { display: block; }
}