$blue-mention: #1799dd;
$blue-mention-light: #f9fafa;
$very-light-grey: #F4F8FB;
$plus-light-grey: #F3F3F3;
$light-grey: #F8F8F8;
$medium-grey: #f5f8fa;
$grey: #85939d;
$dark-grey: #858f95;
$black: #22282B;
$green: #91D43D;
$primary: $blue-mention;
$primary-light: $blue-mention-light;
