.men__btn {
  font-family: $roboto;
  font-size: 1rem;
  font-size: $small; 
  font-weight: 500;
  padding: 14px 20px;
  text-transform: uppercase;
  border-radius: 3px; @include hover(.2s);
}

.men__btn-gh--def {
  color: #fff; 
  border: 1px solid rgba(255,255,255,.5);
  background: transparent;
  @extend .men__btn;
}

.men__btn-gh--def:hover { background: #fff; color: $primary; }

.men__btn-gh--blue {
  color: $primary; 
  border: 1px solid #eee;
  @extend .men__btn-gh--def;
}

.men__btn-gh--blue:hover {
  color: #fff; 
  border: 1px solid $primary;
  background: $primary;
  @extend .men__btn-gh--def;
}

.men__btn-big--def {
  @extend .men__btn;
}

.men__btn-big--blue {
  color: #fff; 
  background: $primary;
  @extend .men__btn-big--def;
}

.men__btn-big--darkblue {
  color: #fff; 
  background: #378ebe;
  @extend .men__btn-big--def;
}

.men__btn-big--fb {
  color: #fff; 
  background: #3b5998;

  @extend .men__btn-big--def;
}

.men__btn-big--tw {
  color: #fff; 
  background: #55acee;
  @extend .men__btn-big--def;
}

.men__btn-big--go {
  color: #fff; 
  background: #dd4b39;
  @extend .men__btn-big--def;
}

.men__btn-big--ln {
  color: #fff; 
  background: #0077b5;
  @extend .men__btn-big--def;
}

.men__btn-big--wh {
  color: $primary; 
  background: #fff;
  @extend .men__btn-big--def;
}

.men__btn-big--sh {
  padding: 10px 20px;
  color: #fff; 
  background: $grey;
  @extend .men__btn-big--def;
}

.men__btn-big--ye {
  cursor: pointer; 
  color: rgba(0,0,0,.5);
  background: #eee;
  @extend .men__btn-big--def;
}

.men__btn-main--def {
  padding: 18px 24px; 
  @extend .men__btn;
}

.men__btn-main--wh {
  color: $primary; 
  background: #fff;
  @extend .men__btn-main--def;
}

a.men__hlink {
  font-family: $open;
  font-size: $small;
  font-weight: 600;
  text-transform: uppercase;
}

a.men__hlink--wh {
  font-family: $open;
  font-size: $small;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
