.header { 
	height: 550px; 
	width: 100%;
	display: flex; 
	background-image: linear-gradient(rgba(23, 153, 221, .9), rgba(23, 153, 221, .9)), url(../img/laptop.jpg);
	background-position: center; 
	background-size: cover; 
	background-repeat: no-repeat;
	justify-content: center;
	align-items: flex-end;  
}

.header-container {
	width: 100%;
	text-align: center;
}

form {
  display: flex;
  width: 100%;
  height: auto; 
  margin: 0 auto;
  align-items: center;
  justify-content: center;
 	padding: 21px;
	background: #fdfdfd;
	border-bottom: 1px solid #eee;
	margin-top: 84px;
	flex-wrap: wrap;
}

input {
	margin-right: 15px;
	height: 47px;
	width: 200px;
	color: #222;
	font-size: .825rem;
	padding-left: 21px;
	border-radius: 2px;
	border: 1px solid #eee;
	&#form-webinar-first {
		width: 150px;
	}
	&#form-webinar-last {
		width: 150px;
	}
}

select {
  width: auto;
  padding-left: 21px;
  color: #22282B;
  background: #fff;
  border: 1px solid #eee;
  height: 47px;
  font-size: .825rem;
  line-height: 47px;
  border-radius: 2px;
  &:focus {
  	outline: none;
  }
}

button { border: none; margin-left: 25px; }

.welcome { @include container(1280px, 95%); text-align: center; }
.welcome img { height: 65px; width: auto; margin-bottom: 21px; }

.welcome p,
.welcome span,
.welcome h1 {
  margin: 0 0 21px 0; 
  text-align: center;
  color: #fff;
}

.welcome .men__btn-main--wh { display: block; @include hover(.1s); }

.welcome .men__btn-main--wh:hover {
	@include hover(.3s); 
  @include shadow(rgba(0,0,0,.3), 0px 4px 10px 2px);
}

.welcome .men__btn-main--wh:active {
	@include hover(.1s); 
  @include scale(.95);
}

.metas {
  display: block;
  width: auto;
  margin-bottom: 42px;
}
.metas-item { display: inline-block; margin: 10px 10px; }
.metas-item img { height: 16px; width: auto; margin: 0 5px 0 0; }

@include mquery(930px) {
	input,
	input#form-webinar-first,
	input#form-webinar-last,
	select {
  	width: 100%;
  	margin: 5px 0;
	}
	.men__btn-big--ye { width: 100%; margin: 5px 0; }
	.metas { justify-content: center; }
	.metas-item { margin: 10px 21px; }
	.header { padding-top: 21px; height: auto; }
	.welcome .men__btn-main--wh { margin-bottom: 42px; }
}