.overlay { 
	display: none;
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,.8); 
	align-items: center; 
	z-index: 10;
	overflow: hidden;
}
.modal { 
	max-width: 600px; 
	height: auto; 
	border-radius: 4px; 
	padding-bottom: 21px; 
	margin: 5px; 
	overflow: hidden; 
	background: #fff; 
	display: none; 
	@include scaleUp(.2s); 
	z-index: 100;
}

.modal p { color: $grey; padding: 21px; margin: 0; }
.success, .loading, .error { display: none; text-align: center; color: #fff; font-family: $open; font-size: $default; }

.loading { @include scaleUp(.2s); }

.message-bg { height: 150px; width: 100%; display: flex; justify-content: center; align-items: center; }
.success-bg { background: #3FC59D; }
.error-bg { background: #E2747E; }

.closer { 
	display: inline-block;
	padding: 14px 20px; 
	font-size: 1rem; 
	font-weight: 500; 
	font-family: $roboto; 
	border-radius: 40px; 
	@include hover(.2s); 
	text-transform: uppercase; 
	font-size: $small;
	color: #fff;
}
.success .closer { background: #3FC59D; }
.error .closer { background: #E2747E; }

.calendars {
	display: block;
	padding: 0 0 30px 0;
}

.calendars p { margin: 0 0px 5px 0; padding: 0; color: $grey; }

.calendar { 
	display: inline-block;
	padding: 10px; 
	font-weight: $medium;
	background: #fafafa; 
	border: 1px solid #eee; 
	color: $grey; 
	font-size: $small; 
	text-transform: uppercase; 
	font-family: $open; 
}
.calendar:hover { background: #eee; } 

@include mquery(500px) {
	.message-bg { margin-top: 42px; }
}
 